@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-background: #fffff0;
    --color-text: #1a1a1a;
    --font-comforter: "Comforter Brush", cursive;
    --font-josefin: "Josefin Sans", sans-serif;
    --font-spline: "Spline Sans Mono", monospace;
}

:root.dark {
    --color-background: #1a1a1a;
    --color-text: #e0e0e0;
}

@layer base {
    html {
        font-family: "Spline Sans Mono", "monospace";
    }
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
}
